body {
    position: relative;
}
.notification {
  position: absolute;
  top:0px;
  right: 0px;
  background-color: aqua;
  border-radius: 16px;
  width: 175px;
  height: 125px;
  color: white;
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center;

}